<header>
    <nav id="main-nav">
        <ul>
            <li><a class="fancy-nav" href="{{ site.baseurl }}/">home</a></li>
            <!-- <li><a class="fancy-nav" href="{{ site.baseurl }}/categories/web">web</a></li> -->
            <!-- <li><a class="fancy-nav" href="{{ site.baseurl }}/categories/iot">iot</a></li> -->
            <!-- <li><a class="fancy-nav" href="{{ site.baseurl }}/categories/algo">algorithm</a></li> -->
            <!-- <li><a class="fancy-nav" href="{{ site.baseurl }}/categories/db">db</a></li> -->
            <!-- <li><a class="fancy-nav" href="{{ site.baseurl }}/categories/etc">etc</a></li> -->
            <!-- 팝업으로 포폴 -->
            <!-- <li><a class="fancy-nav" href="{{ site.baseurl }}/pages/about">about</a></li> -->
            
        </ul>
    </nav>
</header>
