<header>
    <nav id="main-nav">
        <ul>
            <li><a class="fancy-nav" href="{{ site.baseurl }}/index.html">home</a></li>
            {% for link in site.categories %}
            <!-- 알고리즘, 웹, (프로젝트) -->
            <li><a class="fancy-nav" href="{{ site.baseurl }}/categories/{{ link | first | downcase }}">{{ link | first
                }}</a></li>
            {% endfor %}
            <!-- 팝업으로 포폴 -->
            <li><a class="fancy-nav" href="{{ site.baseurl }}/pages/about.html">about</a></li>
        </ul>
    </nav>
</header>
